/* Site Global Body tag font declaration */

body {
	-webkit-font-smoothing: antialiased;
}

/* Navigation Bar CSS */

.nav-bar  {
	background-color: #404040;
	color: #FFFFFF;
	width: 100%;
	height:4em;
	margin-top: 0px;
	padding-top: 0px;
	position: fixed;
	text-align: center;
}

.nav-bar > .nav-bar-content {
  
	margin: 0 auto;
	padding: 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.nav-bar .nav-bar-content ul {
	position: fixed;
	text-align: center;
}

.nav-bar .nav-links {
	font-size: 1.5em;
	text-align: center;
}

.nav-bar .nav-links li {
	display: inline-block;
	padding: -5px;
	text-align: center;
	margin-right: 1em;
}

.nav-bar .nav-links li:hover {
	color: #66CCFF;
}

.nav-bar .nav-links .active {
	font-weight: 500px;
	color: #66CCFF;
}

a {
	color: inherit;
	text-decoration: none;
}

/* About Me Big Picture Section */

.home-big-picture {
	background-image: url('../images/wtc-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	font-family: "Georgia", serif;
}

.home-big-picture h1 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
	-webkit-font-smoothing: antialiased;
}

.home-big-picture h2 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 3em;
	padding-left: 10%;
	
}

/* About Me Section */

.aboutme .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
}

.aboutme .content h1 {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.aboutme .content p {
	padding-bottom: 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* Resume Big Picture Section */

.resume-big-picture {
	background-image: url('../images/car-bg-2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	font-family: "Georgia", serif;
}

.resume-big-picture h1 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
	-webkit-font-smoothing: antialiased;
}

.resume-big-picture h2 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 3em;
	padding-left: 10%;
	
}

/* Resume Section */

.resume .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.resume .content h1 {
	text-align: center;
}
.resume .content h2 {
	font-size: 1em;
}

.resume .content p {
	padding-bottom: 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.resume .content .resume-list li {
	padding-bottom: 12px;
}

/* Portfolio Big Picture Section */

.portfolio-big-picture {
	background-image: url('../images/car-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	font-family: "Georgia", serif;
}

.portfolio-big-picture h1 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
	-webkit-font-smoothing: antialiased;
}

.portfolio-big-picture h2 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 3em;
	padding-left: 10%;
	
}

/* Portfolio Section */

.portfolio .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
	text-align: center;
}

.portfolio .content p {
	padding-bottom: 30px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.portfolio .content a {
	color: #66CCFF;
}

.portfolio .content a:hover  {
	-webkit-text-fill-color: #66CCFF;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

.portfolio .content img {
	border: 2px solid #66CCFF;;
}

.portfolio .content .img-caption {
	font-size: 14px;
}

/* Contact Me Big Picture Section */

.contact-big-picture {
	background-image: url('../images/bridge-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	font-family: "Georgia", serif;
}

.contact-big-picture h1 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
	-webkit-font-smoothing: antialiased;
}

.contact-big-picture h2 {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	font-size: 3em;
	padding-left: 10%;
	
}

/* Contact Me Section */

.contact .content {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.contact .content a {
	color: #66CCFF;
}

.contact .content a:hover  {
	-webkit-text-fill-color: #66CCFF;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

/* Footer Section */

.footer .content {
	height: 1.5em;
	font-size: 1.5em;
	background-color: #404040;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	color: white;
}








