/* Site Global Body tag font declaration */

body {
	background-color: #F0F0F0;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 0 0;
}

hr  {
	color: #404040;
	width: 80%;
}



/* Navigation Bar CSS */

.nav-bar  {
	background-color: #404040;
	color: #FFFFFF;
	width: 100%;
	position: fixed;
	margin: 0 auto;
	text-align: center;
	font-family: 'Play', "Palatino Linotype", sans-serif;
	text-transform:  uppercase;
	overflow: auto;
}

.nav-bar .nav-title {
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-bar .nav-links {
	font-size: 1.5em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-bar .nav-links li {
	display: inline-block;
	text-align: center;
	margin-left: .5em;
	margin-right: .5em;
	border: 2px solid black;
	border-radius: 10px;
	background-color:  black;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right:  8px;
}

.nav-bar .nav-links li:hover {
	background-color: #66CCFF;
	border-color: #66CCFF;
	color: black;
}

.nav-bar .nav-links .active {
	background-color: #66CCFF;
	border-color: #66CCFF;
	color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

/* About Me Big Picture Section */

.home-big-picture {
	background-image: url('../images/wtc-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	color: black;
	font-family: 'Play', "Palatino Linotype", sans-serif;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-webkit-font-smoothing: antialiased;
}

.home-big-picture h1 {
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
}

.home-big-picture h2 {
	font-size: 3em;
	padding-left: 10%;
	
}

/* About Me Section */

.aboutme .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

.aboutme .content h1 {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.aboutme .content p {
	padding-bottom: 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.aboutme .content img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid black;
	border-radius: 8px;
}

.aboutme .content .img-caption {
	font-size: 12px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* Resume Big Picture Section */

.resume-big-picture {
	background-image: url('../images/car-bg-2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	color: black;
	font-family: 'Play', "Palatino Linotype", sans-serif;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-webkit-font-smoothing: antialiased;
}

.resume-big-picture h1 {
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
}

.resume-big-picture h2 {
	font-size: 3em;
	padding-left: 10%;
	
}

/* Resume Section */

.resume .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.resume .content h1 {
	text-align: center;
}
.resume .content h2 {
	font-size: 1em;
}

.resume .content p {
	padding-bottom: 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.resume .content .resume-list li {
	padding-bottom: 12px;
}

/* Portfolio Big Picture Section */

.portfolio-big-picture {
	background-image: url('../images/car-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	color: black;
	font-family: 'Play', "Palatino Linotype", sans-serif;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-webkit-font-smoothing: antialiased;
}

.portfolio-big-picture h1 {
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
}

.portfolio-big-picture h2 {
	font-size: 3em;
	padding-left: 10%;
	
}

/* Portfolio Section */

.portfolio .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	text-align: center;
}

.portfolio .content p {
	padding-bottom: 30px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.portfolio .content a {
	color: #66CCFF;
}

.portfolio .content a:hover  {
	-webkit-text-fill-color: #66CCFF;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

.portfolio .content img {
	border: 2px solid #66CCFF;;
}

.portfolio .content .img-caption {
	font-size: 14px;
}

/* Contact Me Big Picture Section */

.contact-big-picture {
	background-image: url('../images/bridge-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: auto;
	color: black;
	font-family: 'Play', "Palatino Linotype", sans-serif;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-webkit-font-smoothing: antialiased;
}

.contact-big-picture h1 {
	font-size: 5em;
	margin-top: 8rem;
	padding-left: 5%;
}

.contact-big-picture h2 {
	font-size: 3em;
	padding-left: 10%;
	
}

/* Contact Me Section */

.contact .content {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.contact .content a {
	color: #66CCFF;
}

.contact .content a:hover  {
	-webkit-text-fill-color: #66CCFF;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

/* Footer Section */

.footer .content {
	
	font-size: 1.5em;
	background-color: #404040;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
}

.footer .content p {
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Responsive CSS Media Query for Mobile Devices */
@media only screen  
and (max-device-width : 375px) 
and (orientation : portrait) {

	/* Nav Bar Responsive CSS */
	.nav-bar .nav-links {
		padding-left: 0px;
	}

	.nav-bar .nav-links li{
		margin-top: 5px;
		margin-bottom: 5px;
		width: 1em%;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* Home Screen Responsive CSS */

	.home-big-picture h1 {
	font-size: 4em;
	margin-top: 8rem;
	padding-left: 5%;
	}

	.home-big-picture h2 {
	font-size: 2em;
	padding-left: 10%;
	}

	.aboutme .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	font-size: 18px;
	}

	.aboutme .content img {
		height: 15em;
		width: 15em;
	}

	/* Resume Responsive CSS */

	.resume .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	font-size: 18px;
	}

	.resume-big-picture h1 {
	font-size: 4em;
	margin-top: 8rem;
	padding-left: 5%;
	}

	.resume-big-picture h2 {
	font-size: 2em;
	padding-left: 10%;
	}

	/* Portfolio Responsive CSS */
	
	.portfolio .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	font-size: 18px;
	}

	.portfolio-big-picture h1 {
	font-size: 4em;
	margin-top: 10rem;
	padding-left: 5%;
	}

	.portfolio-big-picture h2 {
	font-size: 2em;
	padding-left: 10%;
	}

	.portfolio .content img {
		height: 15em;
		width: 15em;
	}

	/* Contact Responsive CSS */

	.contact .content {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	font-size: 18px;
	}

	.contact-big-picture h1 {
	font-size: 4em;
	margin-top: 8rem;
	padding-left: 5%;
	}

	.contact-big-picture h2 {
	font-size: 2em;
	padding-left: 10%;
	}

}






